*{
	margin: 0;
	padding: 0;
}
html,body{
	
}
body{
	font-family:"PingFang SC Medium","Microsoft YaHei";
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
input{
	outline: none;
	border: 0;
}
p{
	font-size: 0.24rem;
}
input,textarea,select,button{
	outline: none;
}