*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
body{
	font-family:"PingFang SC Medium","Microsoft YaHei";
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
input{
	outline: none;
	border: 0;
}